.inputDate {
  position: relative;

  &:after {
    position: absolute;
    content: url(../../../assets/Calendar.svg);
    background-color: none;
    border-bottom: 3px solid #959595;
    width: 30px;
    height: 47px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  label {
    position: absolute;
    color: #666666;
    font-size: 12px;
    left: 15px;
    top: 3px;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  input {
    font-size: 16px;
    color: #959595;
    height: 50px;
    width: 100%;
    border: none;
    border-bottom: 3px solid #959595;
    padding-left: 15px;
    padding-top: 20px;
    font-size: 18px;
    &:focus {
      background-color: rgb(255, 244, 226);
      transition: all 0.3s;
    }
  }
}
