.Button {
  align-self: center;

  button {
    font-family: Oswald;
    background-color: #146c94;
    color: #ffffff;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
