.InputText {
  position: relative;

  ::placeholder {
    color: #959595;
    font-size: 16px;
  }

  label {
    position: absolute;
    color: #666666;
    font-size: 12px;
    left: 15px;
    top: 3px;
  }

  input {
    font-size: 16px;
    color: #959595;
    height: 50px;
    width: 100%;
    border: none;
    border-bottom: 3px solid #959595;
    padding-left: 15px;
    padding-top: 20px;
    font-size: 18px;
    &:focus {
      background-color: rgb(255, 244, 226);
      transition: all 0.3s;
    }
  }
}
