.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  color: #666666;
  font-size: 24px;
  padding: 10px;
  background-color: #fae890;
}

.ul {
  display: flex;

  align-self: center;
  margin-bottom: 30px;
}
