.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: #666666;
  font-size: 24px;
  padding: 10px;
  background-color: #fae890;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
