.table {
  border-collapse: collapse;

  tr {
    background-color: rgb(246, 186, 6);
    cursor: pointer;
    border: solid;

    &:hover {
      background-color: black;

      td {
        color: white;
      }
    }

    td {
      padding: 10px;
      text-align: left;
      border: 1px solid #dddddd;
    }
  }
}

.companyListContainer {
  h2 {
    text-align: center;
    margin-bottom: 15px;
  }
}
