.table {
  tr {
    background-color: white;
    cursor: pointer;

    &:hover {
      background-color: black;

      td {
        color: white;
      }
    }

    td {
      padding: 3px;
    }
  }
}
